
  <td><input type="checkbox" id="toggle" role="checkbox"></td>
  <td class="names">{{@file.name}}</td>
  <td class="devices">{{@file.device}}</td>
  <td class="paths smaller-font">{{@file.path}}</td>
  <td class="statuses">{{@file.status}}</td>

